.example {
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid grey;

  width: 100%;
  background: #f1f1f1;
  border-radius: 5px;
}

.example::after {
  content: "";
  clear: both;
  display: table;
}
.searchCss {
  padding: 10px;
  margin-right: 10%;
  /* border: 1px solid red; */
}
