.headerCss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 100px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
}
.footerCss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 100px;

  position: fixed;
  bottom: 0; /* Move it to the bottom */
  left: 0;
  right: 0; /* Ensures it stretches across the screen */
  z-index: 2;
  background-color: white;
  margin: 1% 8%;
  margin-bottom: 5%;
}
